<div class="list-group">

  <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
    <a routerLink="/ship">Ship</a>
  </div>
  <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
    <a routerLink="/port">Port</a>
  </div>
  <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
    <a routerLink="/dock">Dock</a>
  </div>
  <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
    <a routerLink="/docked_ship">Docked ship</a>
  </div>
</div>
