extends ../../layout

block content
    div.list-group
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/report1') Report 1
        div.list-group-item
            span(class='list-icon glyphicon glyphicon-briefcase')
            a(href='/report/report2') Report 2