<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="row">

    <div class="col">
      <label>
        Name:
        <input type="text" formControlName="name" required class="form-control">
      </label>
      <div
        *ngIf="profileForm.get('name')?.invalid && (profileForm.get('name')?.dirty || profileForm.get('name')?.touched)">
        <div *ngIf="profileForm.get('name')?.errors?.['required']" class="alert alert-warning">Name is required.
        </div>
        <div *ngIf="profileForm.get('name')?.errors?.['minlength']" class="alert alert-warning">Name must be at
          least 5 characters long.
        </div>
        <div *ngIf="profileForm.get('name')?.errors?.['maxlength']" class="alert alert-warning">Name cannot be
          longer than 30 characters.
        </div>
      </div>
    </div>

    <div class="col">
      <label>
        Number:
        <input type="text" formControlName="number" required class="form-control">
      </label>
      <div
        *ngIf="profileForm.get('number')?.invalid && (profileForm.get('number')?.dirty || profileForm.get('number')?.touched)">
        <div *ngIf="profileForm.get('number')?.errors?.['required']" class="alert alert-warning">Number is required.</div>
        <div *ngIf="profileForm.get('number')?.errors?.['max']" class="alert alert-warning">Number must be at max of 999999.</div>
      </div>
    </div>

    <div class="col">
      <label>
        Country:
        <input type="text" formControlName="country" required class="form-control">
      </label>
      <div
        *ngIf="profileForm.get('country')?.invalid && (profileForm.get('address')?.dirty || profileForm.get('address')?.touched)">
        <div *ngIf="profileForm.get('country')?.errors?.['required']" class="alert alert-warning">Country is required.</div>
        <div *ngIf="profileForm.get('country')?.errors?.['minlength']" class="alert alert-warning">Country must be at least 1 character long.</div>
        <div *ngIf="profileForm.get('country')?.errors?.['maxlength']" class="alert alert-warning">Country cannot be longer than 30 characters.</div>
      </div>
    </div>

    <div class="col">
      <label>
        Address:
        <input type="text" formControlName="address" required class="form-control">
      </label>
      <div
        *ngIf="profileForm.get('address')?.invalid && (profileForm.get('address')?.dirty || profileForm.get('address')?.touched)">
        <div *ngIf="profileForm.get('address')?.errors?.['required']" class="alert alert-warning">Address is required.</div>
        <div *ngIf="profileForm.get('address')?.errors?.['minlength']" class="alert alert-warning">Address must be at least 10 characters long.</div>
        <div *ngIf="profileForm.get('address')?.errors?.['maxlength']" class="alert alert-warning">Address cannot be longer than 50 characters.</div>
      </div>
    </div>

    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>

      <div *ngIf="!profileForm.valid && (profileForm.dirty || profileForm.touched)" class="alert alert-warning">
        Please correct the errors above before submitting.
      </div>
    </div>

  </form>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Port information</h3>
    </div>
  </div>
  <div class="row" *ngIf="ports.length > 0">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Number</th>
          <th>Country</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let port of ports">
          <td>{{port._id}}</td>
          <td>{{port.name}}</td>
          <td>{{port.number}}</td>
          <td>{{port.country}}</td>
          <td>{{port.address}}</td>
          <td>
            <button (click)="onDelete(port)" class="btn btn-primary">Delete</button>
            <button (click)="onEdit(port)" class="btn btn-primary"
                    style="margin-left: 10px;">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="ports.length === 0">
    <div class="col-md-12">
      <p>No ports found. Please add.</p>
    </div>
  </div>
</div>
