extends ../../layout

block content
  div(class='col-md-6')
    form(id='dock-add-form' name='dock-add-form' class='form-horizontal' method="POST" action='')
      div(class='form-group')
        div(class='col-md-3')
          label(for='port_id') Port
        div(class='col-md-9')
          <select id='port_id' name='port_id' class='form-control'>
          each port in ports
            option(value=port.id selected=(port.id == $fn.getPropOrDefault(newDock, 'port', 0))) ID : #{port.id}; Name: #{port.name};
          </select>
      div(class='form-group')
        div(class='col-md-3')
          label(for='number') Number
        div(class='col-md-9')
          input(id='number' name='number' value=$fn.getPropOrDefault(newDock, 'number') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='capacity') Capacity
        div(class='col-md-9')
          input(id='capacity' name='capacity' value=$fn.getPropOrDefault(newDock, 'capacity') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='minimal_submersion') Minimal submersion
        div(class='col-md-9')
          input(id='minimal_submersion' name='minimal_submersion' value=$fn.getPropOrDefault(newDock, 'minimal_submersion') class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Create
